################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/bin/**/*
**/obj/**/*
*.log
*.suo
*.user
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*/*/*/obj
*/bin/**/*
*/obj/**/*
./**/bin/**/*
././obj
./obj
/**/bin/**/*
/*/*/bin
/*/*/obj
/./**/bin/**/*
/./**/obj/**/*
/.vs/gpsm/v14
/packages
_ReSharper.*
bin
bin/**/*
debug
obj
obj/
obj/**/*
