<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="acceptableDomains" value="http://localhost:4200,http://172.16.25.29:8096,http://localhost:7071" /> 
  <add key="as:AudienceId" value="0b9c7ee57ccd44d2bb528ac9c5596780" />
  <add key="as:AudienceSecret" value="WfQuvZVug5Hp2Lws1jTy1qwwo4_qEa8Y0La_6jvhxJw" />
  <add key="as:AuthenticationExpirationMinutes" value="10" />
  <add key="as:RefreshTokenLifetimeMinutes" value="180" />
  <add key="fileLibrary:rootFolderPath" value="c:\gpsm" />
  <add key="log:Repository" value="D:\Radhika\Dump\repositories" />
  <add key="dev:AutoMigrateDb" value="true" />
  <add key="dev:SwaggerEnabled" value="true" />
  <add key="ad:domainName" value="bius.bi.corp" />  
  <add key="ps:AppToken" value="R1BTTVVzZXI6WmRlamR+YUJ7S3xlK04mKjgxb300IkNZWjRyU3J0Kyc=" />
  <add key="profileCulturesDefined" value="en-GB,zh-CN" />
</appSettings>
